<header>TinyApp Application</header>

<%= user.email %> 

<form method="POST" action="/logout">
<% if(user){ %>
	<input type="submit" value="Logout"> 
 <% } %>
</form>

<form method="POST" action="/login">
	<input type="text" name="user" placeholder="username">
	<input type="submit" value="Enter">
</form>