<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TinyApp</title>
</head>
<body>
	
	<% include partials/_header %>

	<ul>
		<% for (item in urls) { %>
			<li>Original: <%= urls[item] %>
				<form method="POST" action="/urls/9sm5xK/delete"><%= item %>
					<input type="button" name="delete" value="Delete">
				</form>
			</li>
		<% } %>
	</ul>

	<a href="#">Shorten New URL</a>
</body>
</html>