<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Show Url</title>
</head>
<body>

	<% include partials/_header %>
	<ul>
		<li><%= urls[shortURL] %></li>
	</ul>

	<form method="POST" action="/urls/<%= shortURL %>/update">
		<input type="text" name="id">
		<input type="submit" value="Update">
	</form>

</body>
</html>