<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TinyApp</title>
</head>
<body>
	
	<% include partials/_header %>

	<ul>
		<% for (item in urls) { %>
			<li>Original: <%= urls[item]['longURL'] %>
				<form method="POST" action="/urls/<%= item %>/delete"><%= item %>
					<input type="submit" value="Delete">
					<a href="/urls/<%= item %>">Edit</a>
				</form>
			</li>
		<% } %>
	</ul>

	<a href="#">Shorten New URL</a>
</body>
</html>